.topBackground{
    background-image: url("../Images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: -50px;
}
.topOverlay{
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: -50px;
}
.contentArea{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navBody{
    background-color: rgba(0, 0, 0, 0.45) !important;
    width: 100%;
    height: 45px;
    padding: 0 50px 0 50px;
}
.navLink{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none!important;
    color: #ffffff!important;
    height: 45px;
    text-align: center;
}
.navLink:hover{
    text-decoration: none;
    color: antiquewhite!important;
    border: 1px dotted antiquewhite;
    transition-duration: 1s!important;
}
.nav-link:active{
    color: antiquewhite!important;
    background-color: rgba(255, 255, 255, 1)!important;
}
.logo{

}
