.row{
  margin: 0!important;
  padding: 0!important;
}
.col{
  margin: 0!important;
  padding: 0!important;
}

.ml{
  margin-left: 10px!important;
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.modal-open{
  overflow: scroll !important;
  padding: 0!important;
}
.modal-backdrop{
  opacity: 0.1 !important;
}
.modal{
  margin-top: 80px!important;
  padding-right: 0!important;
}
.modal-content{
  overflow: hidden !important;
}
.form-control{
  box-shadow: none !important;
}
.w-12{
  width: 75px!important;
}